<!-- layout file of the project, contains navbar and the things which are essential on every webpage -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock %} | Project Zen</title>
</head>
<body>
     <nav class="navbar">
      <div class="logo-container">
        <div class="hamburger-menu-ic" id="ham-menu"></div>
          <div class="logo">Project Zen</div>
        </div>
    </nav>
{% block body %}{% endblock %}
    </body>
</html>