{% extends "layout.html" %} <!-- Use this tag on the top of every file -->
{% block title %}Documentation{% endblock %} <!-- Blocks -->

{% block body %}
<h1 class="heading docs">Documentation <p class="description">Welcome to the official documentation for Project Zen, this documentation includes various definitions and examples of usage for each css element.
    This is a quick setup for the project!</p></h1>

<div class="sidebar">
    <ul>
        <li><a href="">hi</a></li>
        <li><a href="">hi1</a>
            <ol>
                <li><a href="">sdad</a></li>
                <li><a href="">s</a></li>
                <li><a href="">dd</a></li>
            </ol>
        </li>
        <li><a href="">hi2</a>
            <ol>
                <li><a href="">sdad</a></li>
                <li><a href="">sdasd</a></li>
                <li><a href="">sdasdsdd</a></li>
                <li><a href="">s</a></li>
                <li><a href="">dd</a></li>
            </ol>
        </li>
    </ul>
</div>
{% endblock %}